output/
iam/
iam_words/


__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
env/
ENV/
env.bak/
venv.bak/

build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

.env
.env.local
.env.*
.secrets
secrets.*

htmlcov/
.tox/
.nosetests
.pytest_cache/
.mypy_cache/
.ruff_cache/
vulture_cache/
.pdm-build/
.pdm-plugins/

.ipynb_checkpoints

.vscode/
.idea/
*.suo
*.ntvs
*.njsproj
*.sln
*.swp
*~
